<h1>NEWSROOM</h1>
<p>Dispatches are coming in and Dispatches are going out.</p>

<ol>
  <% @users.each do |user| %>
    <li><%= link_to user.fname + "'s Desk", user %></li>
  <% end %>
</ol>

<%= link_to "Sign-Out", session_path(@user), method: :delete %>

