<h1><%= @user.fname + "'s Desk" %></h1>

<%= link_to "Back to the Newsroom", users_path %>


<%= link_to "Post a dispatch.", new_post_path(@user) %>
<%= link_to "Sign-Out", session_path(@user), method: :delete %>
