<body id="home-page">
  <div id="home-layout">
    <h1>DISPATCHES</h1>
    <p>Report the news of your life</p>

    <div id="home-login">
    <%= link_to "Sign-In", new_session_path %><br>
    <%= link_to "Sign Up", new_user_path %>
    </div>
  </div>
</body>